/*table{
    border: 2px solid gray;
    padding: 10px;
    margin: 10px;

}

th{
    border: 2px solid gray;
    padding: 10px;
    margin: 10px;
}
td{
    border: 2px solid gray;
    padding: 10px;
    
}*/
/*table, th, td {
    border: 1px solid black;
    padding: 5px;
  }

  td*/
  body{
    background-image: url("https://4.bp.blogspot.com/-3ANN1T9Q4Mo/VYNLKGOmTdI/AAAAAAAABsY/67l9QUTwILg/s640/La-Clare-France-101.gif");
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    height: 100%;
    margin: 0;


  }

  header {
    background-color: rgb(253, 232, 205,0.12);
    padding: 10px;
  }
  .container{
      width: 80%;
      
      margin-left: auto;
      margin-right: auto;
      height: 60px;
  }
  
  #test{
      float: left;
      position: relative;
      width:80%
  }

  #test img{
    width: 7%;
    margin: -4px;
    
}
  
  #test h1{
      position: absolute;
      top: -19px;
    left: 50%;
    font-size: 40px;
      
  }

  .container a{
      float: right;
      padding-top: 26px;
    width: 20%;
    font-size: 19px;
    text-decoration: none;

  }
  a:hover{
      color: rgb(145, 81, 81);
  }
  
  



    #sectionTable {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        background-color: rgb(253, 232, 205,0.12);
        border-radius: 25px;
        min-height: 821px;
    }



      main section div form{
          width: 35%;
          margin: 20px auto;

      }
      #cookies{
        padding-top: 24px;
      }



      main section div form input{
          padding: 12px;
          margin-bottom: 10px;
          width: 92%;
          border: 2px solid rgb(69, 69, 107);
        border-radius: 25px;
        
      }

      input[type=submit] {
        width: 38%;
        margin-left: 29%;
        cursor: pointer;
    }
        
    table{
        font-family: Arial, Helvetica, sans-serif;
        border-collapse:collapse;
        width: 80%;
        font-size: 20px;
        padding: 10px;
        margin: 30px auto 12px auto;
        
        
        
        
        }

       th , td{
        border: 2px solid rgb(69, 69, 107);
          padding: 8px;  
       }
       tr:nth-child(even){
           background-color: #9e90c0;}
      
          table tr:hover {
              background-color: #ddd;
          }
      
          table th {
              padding-top: 12px;
              padding-bottom: 12px;
              text-align: left;
              
            }


footer{
    height: 80px;
   background-color:rgb(253, 232, 205,0.12);
   margin-top: 30px;
   font-family: Arial, Helvetica, sans-serif;
   


}

footer p{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-top: 2%;
    


}
      